.background{
    background-color: #F5F6F7;
    margin-bottom:10px;
    margin-top:0px;
    padding-left:143px;
    padding-right:143px;
    margin:0 auto;
    position:absolute;

    
}
.title{
    text-align: center;
    padding-top:33px;
    padding-bottom: 90px;
    font-size: 22px;
    width:auto;
}
.picture {
    display: flex;
    width: auto;
    height: 2000px;
    margin:0 auto;
    overflow:scroll;

}
.picture div div {
    border-top:auto solid black;
    border-radius: 5px;
    background-color:white;
    width: 275px;
    margin:10px;
}

.picture div div p{
    padding:15px;
    margin:0px;
    font-size: 16px;
}
.picture div div img {
    width:275px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}