.p_font{
    font-family: 'Roboto', sans-serif;
}
a:link{
    /*unvisite link*/
    color:red;
    text-decoration: none;
    border-bottom: 1p solid;
}
a:visited{
    /*visite link*/
    color:blue
}
a:{
    /* mouse over line*/
    color:yellow;
    border-bottom:none;

}
a:active{
    /* active link*/
    color:pink
}
.bg-background{
    background-image: url('../images/city.svg');
    background-repeat: no-repeat;
    height: 500px;
    width: 600px;

}